#
# Fingerprint driver configuration
#

source "drivers/input/fingerprint/fpc/Kconfig"
source "drivers/input/fingerprint/fpc_fod/Kconfig"
source "drivers/input/fingerprint/goodix/Kconfig"
source "drivers/input/fingerprint/goodix_fod/Kconfig"
source "drivers/input/fingerprint/goodix_fod_psy/Kconfig"
